# Local .terraform directories
**/.terraform/*
terraform/aws/.terraform/**/**/*

# .tfstate files
terraform/aws/*.tfstate
terraform/aws/*.tfstate.i*
# Other
bash/get-pip.py
aws-peter.pem
aws-peter.ppk
